[package]
name = "arm_rstiny"
version = "0.1.0"
edition = "2024"

[dependencies]
log = "0.4"
bitflags = "2.9.1"
aarch64-cpu = "10.0.0"
arm_pl011 = "0.1"
kspin = "0.1"
spin = "0.10"
memory_addr = "0.4"
linked_list_allocator = "0.10"
virtio-drivers = "0.7.4"
fatfs = {  git = "https://github.com/rafalh/rust-fatfs" , rev = "4eccb50", default-features = false, features = ["alloc", "lfn", "log_level_trace", "unicode"] }
[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
