[package]
name = "rstiny_arm"
version = "0.1.0"
edition = "2024"

[features]
default = ["opi5p"]
opi5p = []
qemu = []

[dependencies]
bitflags = "2.6"
memory_addr = "0.4"
page_table_entry = "0.5"
aarch64-cpu = "11.1.0"

log = "0.4"
talc = "4.4.3"
kspin = "0.1"
spin = "0.10.0"
dw_apb_uart = "0.1"
lazyinit = "0.2"
arm-gic = "0.7.1"
int_ratio = "0.1"

arm_pl011 = "0.1"


[workspace]
members = ["xtask"]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
