[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

[dependencies]
toml = "0.9.8"
serde = { version = "1.0", features = ["derive"] }
thiserror = "2.0.17"
log = "0.4"
env_logger = "0.11.8"
chrono = "0.4"